body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 86%;
  max-width: 1000px;
  margin: 0 auto;

  .header {
    h1 {
      font-size: 2em;
      margin: 0.67em 0;
    }

    p {
      color: #666;
    }
  }

  .example {
    padding: 20px 0;
    margin: '20px auto';
    z-index: 1000;
    position: 'relative';
    width: 900;
  }
}
